.cart-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.cart-table  td, .cart-table  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}

.cart-table tr:nth-child(even){background-color: #f2f2f2;}

.cart-table tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }